[data-component="brand"] {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.7px;
  padding: var(--space-0) var(--space-4) var(--space-12);
  color: var(--color-sidebar-text-strong);

  [data-slot="mark"] {
    color: var(--color-accent);
    font-size: 23px;
    margin-right: var(--space-2);
  }

  [data-slot="dot"] {
    color: var(--color-accent);
  }
}
