[data-component="preview"] {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: var(--space-8) var(--space-9);
}
[data-component="preview"] iframe {
  border: 0;
  background: var(--color-white);
  width: min(100%, 850px);
  height: 100%;
  box-shadow: 0 8px 35px var(--color-shadow);
}
[data-component="preview"][data-device="mobile"] iframe {
  width: 390px;
}
