[data-component="preview"] {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 31px 36px;
}
[data-component="preview"] iframe {
  border: 0;
  background: #fff;
  width: min(100%, 850px);
  height: 100%;
  box-shadow: 0 8px 35px #c9cbc4;
}
[data-device="mobile"] iframe {
  width: 390px;
}
